# Build artifacts
bin/
obj/
artifacts/

# Rider/VS
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
.packages/

# Temp collected sources
CollectedCs/
*collected*/
*.zip
*.rar

# Logs
*.log
